{# empty Twig template #}
{% extends "layout.html.twig" %}
{% block contenu %}
    <p><h2> Client : </h2></p>
{% if client == null %}
<p> Ce client n'existe pas.</p>
{% else %}
<table class='table'> 
    <thead>
        <tr>
            <th scope="col"> Num </th>
            <th scope="col"> Nom </th>
            <th scope="col"> Prénom </th>
            <th scope="col"> Adresse </th>
            <th scope="col"> Complément </th>
            <th scope="col"> CP </th>
            <th scope="col"> Ville </th>
            <th scope="col"> Téléphone </th>
        </tr>
    </thead>
    <tbody>
    <th scope="row">{{ client.getId() }}</th>
    <td>{{ client.getNomCli() }}</td>
    <td>{{ client.getPrenomCli() }} </td>
    <td>{{ client.getAdresseRue1Cli() }} </td>
    {% if client.getAdresseRue2Cli() %}
        <td> {{ client.getAdresseRue2Cli() }} </td>
    {% else %}
        <td>###</td>
    {% endif %}
    <td>{{ client.getCpCli() }} </td>
    <td> {{ client.getVilleCli() }}</td>
    <td>{{ client.getTelCli() }} </td>
</tbody>
</table>
{% endif %}


<p><h2> Liste de des commande : </h2></p>
{% if commandes == null %}
<p> Il n'existe pas de commande pour ce client. </p>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Id Commande </th>
                <th scope="col"> Id Client</th>
                <th scope="col"> Date Commande </th>
                <th scope="col"> Numéro Facture </th>
            </tr>
        </thead>
        {% for uneCommande in commandes %}
            <tbody>
            <th scope="row">{{ uneCommande.getId() }}</th>
            <td>{{ uneCommande.getIdClient() }}</td>
            <td>{{ uneCommande.getDateCde() }} </td>
            <td>{{ uneCommande.getNoFacture() }} </td>
        </tbody>
    {% endfor %}
</table>
<p> Nombre de commandes : {{ commandes|length }}</p>
{% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}