{% block retour %}
    <div class="container">
        <form action="index.php?c=GestionClient&a=ModifierClient" method="post">
            <div class="form-group">
                <label for="titre">Titre</label>
                <select class="form-control" id="titre" name="titreCli">
                    <option {% if unClient.getTitreCli()=="Monsieur" %}selected{% endif %}>Monsieur</option>
                    <option {% if unClient.getTitreCli()=="Madame" %}selected{% endif %}>Madame</option>
                    <option {% if unClient.getTitreCli()=="Mademoiselle" %}selected{% endif %}>Mademoiselle</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{{ unClient.getId() }}">
                
                <label for="nomCli">Nom :</label>
                <input type="text" class="form-control" id="nomCli" placeholder="Nom" name="nomCli" value="{{ unClient.getNomCli() }}" readonly/>
                <label for="prenomCli">Prenom :</label>
                <input type="text" class="form-control" id="prenomCli" placeholder="Prenom" name="prenomCli" value="{{ unClient.getPrenomCli() }}" readonly/>
                <label for="adresseRue1Cli">Adresse :</label>
                <input type="text" class="form-control" id="adresseRue1Cli" placeholder="Adresse" name="adresseRue1Cli" value="{{ unClient.getAdresseRue1Cli() }}"/>
                <label for="adresseRue2Cli">Complément d'adresse :</label>
                <input type="text" class="form-control" id="adresseRue2Cli" placeholder="Complément d'adresse(facultatif)" name="adresseRue2Cli" value="{{ unClient.getAdresseRue2Cli() }}"/>
                <label for="cpCli">Code Postal :</label>
                <input type="text" class="form-control" id="cpCli" placeholder="Code postal" name="cpCli" value="{{ unClient.getCpCli() }}"/>
                <label for="villeCli">Ville :</label>
                <input type="text" class="form-control" id="villeCli" placeholder="Ville" name="villeCli" value="{{ unClient.getVilleCli() }}"/>
                <label for="telCli">Téléphone :</label>
                <input type="text" class="form-control" id="telCli" placeholder="Tel" name="telCli" value="{{ unClient.getTelCli() }}"/>
            </div>
            <button type="submit" class="btn btn-default">Modifier</button>
        </form>
    </div>
{% endblock %}