{% extends "layout.html.twig" %}
{% import '/imports/elements.html' as elements %}
{% block contenu %}
    <div class="container">
        <h2>Recherche selon critères</h2>
        <form action="index.php?c=GestionClient&a=rechercheClients" method="post">
            <div class="form-group">
                {{ elements.list("titreCli", titres, "titre", "titres") }}
                {{ elements.list("villeCli", villes, "ville", "villes") }}
                {{ elements.list("cpCli", cps, "cp", "cps") }}
            </div>
            <button type="submit" class="btn btn-default">Voir</button>
            {% if criteres %}
                <h4>
                    {% for critere in criteres %}
                        {{ critere }} - 
                    {% endfor %}
                </h4>
                {% if clients %}
                    {{ include('/blocks/arrayClients.html.twig') }}
                {% else %}
                    <h5> Aucun client trouvé pour ces critères </h5>
                {% endif %}
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}