{% extends "layout.html.twig" %}
{% block contenu %}
    <p><h2> Liste des clients </h2></p>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Num </th>
                <th scope="col"> Nom </th>
                <th scope="col"> Prénom </th>
                <th scope="col"> Adresse </th>
                <th scope="col"> Complément </th>
                <th scope="col"> CP </th>
                <th scope="col"> Ville </th>
                <th scope="col"> Téléphone </th>
            </tr>
        </thead>
        {% for unClient in clients %}
        <tbody>
            <th scope="row">{{ unClient.getId() }}</th>
            <td>{{ unClient.getNomCli() }}</td>
            <td>{{ unClient.getPrenomCli() }} </td>
            <td>{{ unClient.getAdresseRue1Cli() }} </td>
            {% if unClient.getAdresseRue2Cli() %}
                <td> {{ unClient.getAdresseRue2Cli() }} </td>
            {% else %}
                <td>###</td>
            {% endif %}
            <td>{{ unClient.getCpCli() }} </td>
            <td> {{ unClient.getVilleCli() }}</td>
            <td>{{ unClient.getTelCli() }} </td>
            <td> <a href="http://monpetitmvc/?c=GestionCommande&a=commandesUnClient&id={{ unClient.getId() }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> voir commandes </a> </td>
        </tbody>
        {% endfor %}
    </table>
        <p> Nombre de clients : {{ clients|length }}</p>
    
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
