{% extends "layout.html.twig" %}
{% block contenu %}
    {% block recherche %}
        {#
        <p><h2> Informations du client numéro {{ unClient.getNoCli() }} </h2></p>
        <p> {{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }} </p>
        <p> {{ unClient.getAdresseRuelCli() }} </p>
        {% if unClient.getAdresseRue2Cli() %}
            <p> {{ unClient.getAdresseRue2Cli() }} </p>
        {% endif %}
        <p> {{ unClient.getCpCli() }} {{ unClient.getVilleCli() }} </p>
        <p> {{ unClient.getTelCli() }} </p>
        #}
        <h3>recherche</h3>
        <div class="container">
            <form action="?c=GestionClient&a=chercheUn" method="post">
                {{ include('/blocks/clientRecherche.html.twig') }}
                <input type="submit" value="Voir" class="btn btn-default"/>
            </form>
        </div>
    {% endblock %}
    {% if unClient %} 
        {{ include('/blocks/singleClient.html.twig') }}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
