{% extends "layout.html.twig" %}
{% block contenu %}
    <p><h2> Informations du client numéro {{ unClient.getNoCli() }} </h2></p>
    <p> {{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }} </p>
    <p> {{ unClient.getAdresseRuelCli() }} </p>
    {% if unClient.getAdresseRue2Cli() %}
        <p> {{ unClient.getAdresseRue2Cli() }} </p>
    {% endif %}
    <p> {{ unClient.getCpCli() }} {{ unClient.getVilleCli() }} </p>
    <p> {{ unClient.getTelCli() }} </p>
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
