{% extends "layout.html.twig" %}
{% block contenu %}
    {% block recherche %}
        {#
        <p><h2> Informations du client numéro {{ unClient.getNoCli() }} </h2></p>
        <p> {{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }} </p>
        <p> {{ unClient.getAdresseRuelCli() }} </p>
        {% if unClient.getAdresseRue2Cli() %}
            <p> {{ unClient.getAdresseRue2Cli() }} </p>
        {% endif %}
        <p> {{ unClient.getCpCli() }} {{ unClient.getVilleCli() }} </p>
        <p> {{ unClient.getTelCli() }} </p>
        #}
        <h3>recherche</h3>
        <div class="container">
            <form action="?c=GestionClient&a=chercheUn" method="post">
                <div class="form-group">
                    <label for="Numéro du client"> Id du client</label>
                    <select class="form-control" id="titre" name="id">
                        {% for id in lesId %}
                            <option> {{ id['id'] }} </option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Voir" class="btn btn-default"/>
            </form>
        </div>
    {% endblock %}
    {% if unClient %} 
        {% block affiche %}
            <p><h2> Informations du client numéro !!! {{ unClient.getId() }} </h2></p>
        <p> {{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }} </p>
        <p> {{ unClient.getAdresseRue1Cli() }} </p>
        {% if unClient.getAdresseRue2Cli() %}
            <p> {{ unClient.getAdresseRue2Cli() }} </p>
        {% endif %}
        <p> {{ unClient.getCpCli() }} {{ unCLient.getVilleCli() }} </p>
        <p> {{ unClient.getTelCLi() }} </p>
    {% endblock %}
{% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}
